script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
<!-- Responsive 1st -->
ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7091805805259758" data-ad-slot="9367897227" data-ad-format="auto")
script(type="text/javascript")
  |(adsbygoogle = window.adsbygoogle || []).push({});