footer.footer
  .container.text-center
    p.text-muted.clip
      |&copy; EasySport 2016
      |&nbsp&nbsp&nbsp&nbsp
      a.topmenu(href="{% url 'contacts_view' %}") Контакты
      |&nbsp&nbsp&nbsp&nbsp
      a.topmenu(target="_blank" href="https://vk.com/write17610278") Сообщить об ошибке
      a.footerright.hidden-xs(href="http://vk.com/easysport_official" target="_blank")
        img(src="{% static 'images/vk.png' %}" width="32")
      <!-- Yandex.Metrika informer --><a style="visibility:hidden;" href="https://metrika.yandex.ru/stat/?id=25660223&amp;from=informer"target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/25660223/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:25660223,lang:'ru'});return false}catch(e){}" /></a><!-- /Yandex.Metrika informer --> <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25660223 = new Ya.Metrika({ id:25660223, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/25660223" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

script
  include ../../js/notifications.js
  include ../../js/googleanalytics.js

|{% block footer %}{% endblock %}