| {% load globaltags %}
| {% if not loggedin %}
#loginModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        .row
          .col-xs-12.text-center
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            h2 Авторизация
            p
              a(href="{% url 'reg_view' %}") Я не зарегистрирован
      .modal-body
        .container-fluid
          .row
            .col-xs-12.col-sm-6
              form(method="post" action="{% url 'login_view' %}")
                | {% csrf_token %}
                .form-group
                  label.sr-only Email
                  input.form-control(type="email" name="email" placeholder="Email")
                .form-group
                  label.sr-only Пароль
                  input.form-control(type="password" name="password" placeholder="Пароль")
                button.btn.btn-default(type="submit") Войти
                br
                br
                a(href="{% url 'resetpass' %}") Забыли пароль?
            .col-xs-12.col-sm-6
              br.visible-xs
              br.visible-xs
              .form-group
                |{% url 'login_view' as login_url %}
                a.btn.btn-default.btn-block(href="{% vkontakte_auth_link login_url %}") ВКОНТАКТЕ
                a.btn.btn-default.btn-block(href="{% facebook_auth_link login_url %}") FACEBOOK
              //.form-group
              //  a.btn.btn-default.btn-block(href="#") FACEBOOK
              //.form-group
              //  a.btn.btn-default.btn-block(href="#") GOOGLE

| {% else %}

#unsubscribeModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title Внимание!
      .modal-body.p-b-0
        .container-fluid
          .row
            .col-xs-12
              p.lead Чтобы отказаться от участия в игре незадолго до ее начала, позвоните ответственному и предупредите его, иначе вы получите бан.

#notificationsModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title Уведомления
      .modal-body.p-b-0
        .container-fluid
          .row
            .col-xs-12
              | {% for notification in notifications_all %}
              .alert.fade.in(class="{% if notification.level == 0 %}alert-info{% elif notification.level == 1 %}alert-warning{% elif notification.level == 2 %}alert-danger{% endif %}")
                button.close.delete-notification(id="notif-{{notification.id}}" type="button" data-dismiss="alert" aria-hidden="true") &times;
                p
                  small {{notification.datetime}}
                p.lead {{ notification }}
              | {% endfor %}

| {% endif %}