.notifications.bottom-left
  | {% for notification in notifications_new %}
  .alert(class="{% if notification.level == 0 %}alert-info{% elif notification.level == 1 %}alert-warning{% elif notification.level == 2 %}alert-danger{% endif %}" style="display: none;")
    button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
    p
      small {{notification.datetime}}
    p.lead {{ notification }} | {{ notification.level }} | {{ notification.read }}
  | {% endfor %}