footer.footer
  .container.text-center
    p.text-muted.clip
      |&copy; Sportcourts 2014
      |&nbsp&nbsp&nbsp&nbsp
      a.topmenu(href="") Контакты
      |&nbsp&nbsp&nbsp&nbsp
      a.topmenu(target="_blank" href="https://vk.com/write17610278") Сообщить об ошибке
      a.footerright.hidden-xs(href="http://vk.com/sportcourts" target="_blank")
        img(src="{% static 'images/vk.png' %}" width="32")

script
  include ../../js/notifications.js

|{% block footer %}{% endblock %}