| {% extends 'mail/base.html' %}
| {% block title %}Подтверждение адреса электронной почты{% endblock %}
| {% block content %}
tbody
  tr
    td.content-first(align="center" valign="top")
      table(border="0" cellpadding="0" cellspacing="0" width="600")
        tbody
          tr
            td(valign="top")
              table(border="0" cellpadding="0" cellspacing="0" width="100%")
                tbody
                  tr
                    td(valign="top")
                      table(align="left" border="0" cellpadding="0" cellspacing="0" width="600")
                        tbody
                          tr
                            td.content-td(valign="top")
                              br
                              h1 Привет!
                              br
                              h3 Поздравляем Вас с вступлением в команду активных людей, не представлюящих свою жизнь без спорта!
                              p Пожалуйста, перейдите по ссылке для подтверждения учетной записи:
              table(border="0" cellpadding="0" cellspacing="0" width="100%")
                tbody
                  tr
                    td.btn-td(valign="top" align="center")
                      table.btn(border="0" cellpadding="0" cellspacing="0")
                        tbody
                          tr
                            td(align="center" valign="middle")
                              a(title="Подтвердить" href="{{ current_host }}{% url 'confirm' activation_key %}" target="_blank") Подтвердить
              table(border="0" cellpadding="0" cellspacing="0" width="100%")
                tbody
                  tr
                    td(valign="top")
                      table(align="left" border="0" cellpadding="0" cellspacing="0" width="600")
                        tbody
                          tr
                            td.content-td(valign="top")
                              span.small Если вы не регистрировались на SportCourts.ru, просто проигнорируйте это письмо.
                              br
                              | &nbsp;
| {% endblock %}