| {% extends 'mail/base.html' %}
| {% block title %}Приглашение на игру{% endblock %}
| {% block content %}
tbody
  tr
    td.content-first(align="center" valign="top")
      table(border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#EAE2DB;border-top:0;border-bottom:0")
        tbody
          tr
            td(valign="top")
              table(border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;")
                tbody
                  tr
                    td(valign="top")
                      table(align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse")
                        tbody
                          tr
                            td.content-td(valign="top" style="margin:0;padding:0;color:#606060;display:block;font-family:Helvetica;font-size:20px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:-1px;text-align:left")
                              br
                              h1 Привет, {{ user.first_name }}!
                              br
                              h3 Приглашаем Вас на игру, которая состоится на этой неделе:
                              hr
                              p Тип игры: {{ game.gametype }}
                              p
                              p
                                |Площадка:&nbsp;
                                a(href="{{ game.court.get_absolute_url }}") {{ game.court }}
                              p {{ game.datetime }}
                              p Продолжительность: {{ game.duration_beauty }}
                              p Цена: {{ game.cost }} RUB
              table(border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse")
                tbody
                  tr
                    td.btn-td(valign="top" align="center" style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px")
                      table.btn(border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:2px none #707070;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#D74537")
                        tbody
                          tr
                            td(align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:16px")
                              a(title="Записаться на игру..." href="{{ current_host }}{% url 'game_view' game.id %}" target="_blank" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#EAE2DB;word-wrap:break-word") Записаться на игру...
              table(border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse")
                tbody
                  tr
                    td(valign="top")
                      table(align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse")
                        tbody
                          tr
                            td.content-td(valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left")
                              span.small(style="font-size:12px") Если вы не регистрировались на Easysport.online, просто проигнорируйте это письмо.
                              br
                              | &nbsp;
| {% endblock %}