
{% load gametags %}
{% load globaltags %}
{% load tz %}
<!--#TODO: add popup window for login or registration-->
<div id="{{ game.id }}-pane">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-10">
          {% if standalone %}
          # {{ game.id }} | {{ game.title }}
          {% else %}<a href="{% url 'game_view' game.id %}"># {{ game.id }} | {{ game.title }}</a>{% endif %}
        </div>
        <div class="col-xs-2 text-right">{% if current_user.is_admin or current_user == game.responsible_user or current_user == game.created_by %}
          <div class="btn-group btn-group-compact">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="close dropdown-toggle"><span class="glyphicon glyphicon-option-vertical"></span></button>
            <ul class="dropdown-menu pull-right">
              <li><a href="/admin/games/game/{{ game.pk }}/">Редактировать</a></li>
              <li><a href="{% url 'game_roster_view' game.pk %}" target="_blank">Печатать списки</a></li>
              <li><a href="{% url 'game_invite_view' game.pk %}" target="_blank">Рассылка приглашений</a></li>
            </ul>
          </div>{% endif %}
        </div>
      </div>
    </div>
    <div class="panel-body p-b-5">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0">{% localtime on %}
          <div class="well well-sm text-center p-b-0">
            <p>{{ game.datetime|date:"l" }}</p>
            <p><span class="glyphicon glyphicon-calendar"></span>&nbsp;{{ game.datetime|date:"j E" }}</p>
            <p><span class="glyphicon glyphicon-time"></span>&nbsp;{{ game.datetime|date:"H:i" }}</p>
          </div>{% endlocaltime %}
          {% if game.near_time_status == 'Today' %}
          <div class="well well-sm text-center">Сегодня</div>{% elif game.near_time_status == 'Tomorrow' %}
          <div class="well well-sm text-center">Завтра</div>{% elif game.near_time_status == 'After Tomorrow' %}
          <div class="well well-sm text-center">Послезавтра</div>{% endif %}
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7">
          <p>{{ game.gametype }}</p>
          <p><a href="{% url 'court_view' game.court.id %}" target="_blank">{{ game.court }}</a></p>{% if game.coach %}
          <p>Тренер: {{ game.coach }}</p>{% endif %}
          <p>Ответственный:&nbsp;<a href="{{ game.responsible_user.get_absolute_url }}">{{ game.responsible_user }}</a>{% if game.capacity > 0 %}</p>
          <div class="progress">{% if game.is_reported %}
            <div role="progressbar" style="width: {% widthratio game.visited|length game.capacity 100 %}%;" class="progress-bar progress-bar-info"><span>{{ game.visited|length }} / {{ game.capacity }}</span></div>{% else %}
            {% if game.has_place %}
            <div role="progressbar" style="width: {% widthratio game.subscribed|length game.capacity 100 %}%; min-width: 1em;" class="progress-bar progress-bar-default progress-bar-striped active"><span>{{ game.subscribed|length }} / {{ game.capacity }}</span></div>{% else %}
            <div role="progressbar" style="width: {% widthratio game.subscribed|length game.capacity 100 %}%; min-width: 1em;" class="progress-bar progress-bar-success"><span>{{ game.subscribed|length }} / {{ game.capacity }}</span></div>{% endif %}
            {% endif %}
          </div>{% else %}
          <p><span class="glyphicon glyphicon-user"></span>&nbsp; {{ game.subscribed|length }}</p>{% endif %}
          {% if game.is_reported %}
          <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group m-b-5">
            <div class="panel panel-default">
              <div role="tab" id="heading-{{ game.pk }}" class="panel-heading">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ game.pk }}-visited" aria-expanded="true" aria-controls="collapse-{{ game.pk }}">Посетили игру<span class="caret"></span></a></h4>
              </div>
              <div role="tabpanel" aria-labelledby="headingOne" id="collapse-{{ game.pk }}-visited" class="panel-collapse collapse">
                <div class="panel-body p-b-5">{% for user in game.visited %}
                  <p><a href="{{ user.get_absolute_url }}" target="_blank">{{ forloop.counter }}. {{ user }}</a></p>{% endfor %}
                </div>
              </div>
            </div>{% if current_user.is_staff %}
            {% if game.notvisited|length > 0 %}
            <div class="panel panel-default">
              <div role="tab" id="heading-{{ game.pk }}" class="panel-heading">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ game.pk }}-notvisited" aria-expanded="true" aria-controls="collapse-{{ game.pk }}">Не пришли<span class="caret"></span></a></h4>
              </div>
              <div role="tabpanel" aria-labelledby="headingOne" id="collapse-{{ game.pk }}-notvisited" class="panel-collapse collapse">
                <div class="panel-body p-b-5">{% for user in game.notvisited %}
                  <p><a href="{{ user.get_absolute_url }}" target="_blank">{{ forloop.counter }}. {{ user }}</a></p>{% endfor %}
                </div>
              </div>
            </div>{% endif %}
            {% if game.notpay|length > 0 %}
            <div class="panel panel-default">
              <div role="tab" id="heading-{{ game.pk }}" class="panel-heading">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ game.pk }}-notpay" aria-expanded="true" aria-controls="collapse-{{ game.pk }}">Не заплатили<span class="caret"></span></a></h4>
              </div>
              <div role="tabpanel" aria-labelledby="headingOne" id="collapse-{{ game.pk }}-notpay" class="panel-collapse collapse">
                <div class="panel-body p-b-5">{% for user in game.notpay %}
                  <p><a href="{{ user.get_absolute_url }}" target="_blank">{{ forloop.counter }}. {{ user }}</a></p>{% endfor %}
                </div>
              </div>
            </div>{% endif %}
            {% endif %}
          </div>{% else %}
          <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group m-b-5">{% if game.subscribed|length > 0 %}
            <div class="panel panel-default">
              <div role="tab" id="heading-{{ game.pk }}" class="panel-heading">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ game.pk }}" aria-expanded="true" aria-controls="collapse-{{ game.pk }}">Список участников<span class="caret"></span></a></h4>
              </div>
              <div role="tabpanel" aria-labelledby="headingOne" id="collapse-{{ game.pk }}" class="panel-collapse collapse">
                <div class="panel-body p-b-5">{% for user in game.subscribed %}
                  <p><a href="{{ user.get_absolute_url }}" target="_blank">{{ forloop.counter }}. {{ user }}</a></p>{% endfor %}
                </div>
              </div>
            </div>{% endif %}
            {% if current_user.is_staff %}
            {% if game.reserved|length > 0 %}
            <div class="panel panel-default">
              <div role="tab" id="heading-{{ game.pk }}" class="panel-heading">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ game.pk }}-reserved" aria-expanded="true" aria-controls="collapse-{{ game.pk }}">В резерве<span class="caret"></span></a></h4>
              </div>
              <div role="tabpanel" aria-labelledby="headingOne" id="collapse-{{ game.pk }}-reserved" class="panel-collapse collapse">
                <div class="panel-body p-b-5">{% for user in game.reserved %}
                  <p><a href="{{ user.get_absolute_url }}" target="_blank">{{ forloop.counter }}. {{ user }}</a></p>{% endfor %}
                </div>
              </div>
            </div>{% endif %}
            {% if game.unsubscribed|length > 0 %}
            <div class="panel panel-default">
              <div role="tab" id="heading-{{ game.pk }}" class="panel-heading">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ game.pk }}-unsubscribed" aria-expanded="true" aria-controls="collapse-{{ game.pk }}">Отписались<span class="caret"></span></a></h4>
              </div>
              <div role="tabpanel" aria-labelledby="headingOne" id="collapse-{{ game.pk }}-unsubscribed" class="panel-collapse collapse">
                <div class="panel-body p-b-5">{% for user in game.unsubscribed %}
                  <p><a href="{{ user.get_absolute_url }}" target="_blank">{{ forloop.counter }}. {{ user }}</a></p>{% endfor %}
                </div>
              </div>
            </div>{% endif %}
            {% endif %}
          </div>{% endif %}
          {% if game.is_reported == False and game.time_status == 'WAS' %}
          {% if current_user == game.responsible_user or current_user.is_superuser %}<a href="{% url 'game_report_view' game.id %}" class="btn btn-lg btn-success">Заполнить отчет</a><br/><br/>{% endif %}
          {% elif game.time_status == 'WAS' and game.is_reported and current_user.is_organizer %}<a href="{% url 'game_next_add' game.id %}" class="btn btn-success">Создать новую игру через неделю</a><br/><br/>{% endif %}
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 text-right">
          {% if current_user %}
          {% usergameaction current_user game as action %}
          {% endif %}
          <div class="btn-group">{% if game.time_status == 'WILL BE' %}
            <!--Если игра будет и ты записан-->{% if action == 1 %}
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-success btn-sm dropdown-toggle">
              Вы записаны
              &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a id="{{ game.id }}-unsubscribe" class="action">Отписаться</a></li>
            </ul>
            <!--Если игра будет и ты в резерве-->{% elif action == 3 %}
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning btn-sm dropdown-toggle">
              Вы в резерве
              &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a id="{{ game.id }}-unreserve" class="action">Выйти из резерва</a></li>{% if game.has_place %}
              <li><a id="{{ game.id }}-subscribe" class="action">Перейти в основу</a></li>{% endif %}
            </ul>
            <!--Если игра буде, а ты не записан и не в резерве, проверяем наличие мест-->{% else %}
            <!--Если есть места-->{% if game.has_place %}
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary btn-sm dropdown-toggle">
              Идет набор
              &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">{% if current_user %}
              <li><a id="{{ game.id }}-subscribe" class="action">Записаться</a></li>{% else %}
              <li><a href="#" data-toggle="modal" data-target="#loginModal">Записаться</a></li>{% endif %}
            </ul>
            <!--Если нет мест-->{% else %}
            {% if current_user %}
             {% if game.has_reserved_place %}
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-sm dropdown-toggle">Мест нет
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a id="{{ game.id }}-reserve" class="action">Записаться в резерв</a></li>
              </ul>
            </button> {% else %}
            <button class="btn btn-default btn-sm">Мест нет</button> {% endif %}
            {% else %}
             {% if game.has_reserved_place %}
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-sm dropdown-toggle">Мест нет
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#" data-toggle="modal" data-target="#loginModal">Записаться в резерв</a></li>
              </ul>
            </button> {% else %}
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-sm dropdown-toggle">Мест нет
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#" data-toggle="modal" data-target="#loginModal">Мест нет</a></li>
              </ul>
            </button> {% endif %}
            {% endif %}
            {% endif %}
            <!--Конец проверки - Если есть места-->{% endif %}
            <!--Конец проверки - Если игра будет-->
            <!--Начало проверки - Если игра близко-->{% elif game.time_status == 'COMING' %}
            {% if action == 1 %}
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-success btn-sm dropdown-toggle">Вы записаны</button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <!--TODO: popup with phone--><a href="#" data-toggle="modal" data-target="#unsubscribeModal">Отписаться</a>
              </li>
            </ul>
            <!--Если в резерве-->{% elif action == 3 %}
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning btn-sm dropdown-toggle">Вы в резерве</button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a id="{{ game.id }}-unreserve" class="action">Выйти из резерва</a></li>{% if game.has_place %}
              <li><a id="{{ game.id }}-subscribe" class="action">Перейти в основу</a></li>{% endif %}
            </ul>
            <!--Если не записан и не в резерве, проверяем наличие мест-->{% else %}
            <!--Если есть места-->{% if game.has_place %}
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary btn-sm dropdown-toggle">Идет набор</button>
            <ul class="dropdown-menu dropdown-menu-right">{% if current_user %}
              <li><a id="{{ game.id }}-subscribe" class="action">Записаться</a></li>{% else %}
              <li><a href="#" data-toggle="modal" data-target="#loginModal">Записаться</a></li>{% endif %}
            </ul>
            <!--Если нет мест-->{% else %}
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-sm dropdown-toggle">Мест нет</button>{% endif %}
            <!--Конец проверки - Если есть места-->{% endif %}
            <!--Конец проверки - Если игра близко-->{% elif game.time_status == 'IT GOES' %}
            <button class="btn btn-info btn-sm">
              Игра идет
              {% elif game.time_status == 'WAS' %}
            </button>{% if action == 5 %}
            <button disabled="disabled" class="btn btn-success btn-sm">Вы играли тут</button>{% elif action == 6 %}
            <button disabled="disabled" class="btn btn-danger btn-sm">Вы прогуляли</button>{% elif action == 7 %}
            <button disabled="disabled" class="btn btn-danger btn-sm">Вы не заплатили</button>{% else %}
            <button disabled="disabled" class="btn btn-default btn-sm">Игра прошла</button>{% endif %}
            {% endif %}
          </div><br/><br/>
          <p class="lead m-b-10">{{ game.cost }} RUB</p>
          <p>{{ game.duration_beauty }}</p>
        </div>
      </div>
    </div>
  </div>
</div>