@import "variables";

/* Fixed navbar styles
-------------------------------------------------- */

#content > .container {
  padding-top: 90px;
}

.navbar-brand {
  padding-top: 0;
  padding-right: 0;
  img {
    height: 150%;
    padding: 0;
  }
}

.topmenu {
  img {
    display: inline;
    height: $navbar-height - 10px;
    width: $navbar-height - 10px;;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

.dropdown-toggle {
  margin-bottom: -1px;
}


/* Fixed footer styles
-------------------------------------------------- */

.footer{
  p {
    margin-bottom: 0;
    .clip {
      white-space: nowrap; /* Запрещаем перенос строк */
      overflow: hidden;
    }
  }
  a {
    position: relative;
  }
  img {
    position: absolute;
    top: -6px;
    right: 0;
  }
  .footerright {
    float: right;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
$footerpadding: 40px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 21px + $footerpadding * 2;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  padding-top: $footerpadding;
  padding-bottom: $footerpadding;
}

/*
* Social buttons style
* https://github.com/sapegin/social-likes
*/

.social-likes__widget {
  border-radius: 5px;
}

.social-likes{
  font-size: 1.4em;
  &-compact {
    @extend .social-likes;
    margin: 0 auto;
    .social-likes__widget {
      margin: 0;
    }
  }
}

.social-likes_big {
  font-size: 2em;
}


/*
* Games buttons style
*/

.btn-group-compact {
  margin: -2px auto;
}

/*
* Hacks
*/
.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-10 {
  margin-bottom: 10px;
}

.p-t-0 {
  padding-top: 0;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-b-5 {
  padding-bottom: 5px;
}

.m-w-100 {
  max-width: 100%;
}

img {
  max-width: 100%;
}