
{% extends 'base.html' %}
{% block title %}Наши контакты{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="text-center">Контакты</h1>
  <adress><br/>
    <p><strong>По вопросам сотрудничества и вопросам к работе сервиса</strong></p>
    <p><a href="mailto:ceo@sportcourts.ru">ceo@sportcourts.ru</a></p>
    <p><a href="#">+7 (982) 646 94 54</a></p>
    <p><a target="_blank" href="https://vk.com/write17610278">ВКонтакте</a></p><br/><br/>
    <p><strong>Хотите работать с нами?</strong></p>
    <p>Вы любите спорт и хотите вдохновлять других вести здоровый образ жизни?</p>
    <p>Мы ищем активных энтузиастов в разных дисциплинах, в городах по всей России.</p>
    <p>Мы поддержим Вас в организации спортивных мероприятий и поможем сформировать сообщество активных и здоровых людей.</p>
    <p>Свои резюме, предложения и истории присылайте&nbsp;<a href="mailto:ceo@sportcourts.ru">сюда</a></p>
  </adress>
</div>{% endblock %}