
{% extends 'base.html' %}
{% load globaltags %}
{% block title %}Спортивные площадки{% endblock %}
{% block headers %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>{% endblock %}
{% block content %}
<h1 class="m-t-0">Площадки</h1>
<hr/>
<div class="row">
  <div class="col-md-3 visible-md visible-lg">{% if current_user.is_admin %}<a href="/admin/courts/court/add/" class="btn btn-success btn-block">+ создать площадку</a><br/>{% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="lead">Поиск</p>
        <input id="searchquery" type="text" name="query" placeholder="Поиск по названию" value="{{ query }}" class="form-control"/><br/><a id="searchbutton" href="#" disabled="disabled" class="btn btn-primary btn-block">Найти</a>{% if query %}<a href="{% url 'courts_view' %}" class="btn btn-primary btn-block">Сброс</a>{% endif %}
      </div>
    </div>
    <div class="panel panel-default hidden-xs">
      <div class="panel-body">
        <p class="lead m-t-0">Расскажи о нас друзьям!</p>
        <div class="social-likes social-likes_notext social-likes-compact">
          <div class="facebook"></div>
          <div class="twitter"></div>
          <div class="vkontakte"></div>
          <div class="odnoklassniki"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div id="CourtMap" style="width: 100%; height: 400px" class="thumbnail"></div>
    <hr/>{% if courts|length > 0 %}
    {% for court in courts %}
    <div class="row">
      <div class="col-xs-3">
        <div class="thumbnail profile-avatar">{% image court.photo %}</div>
      </div>
      <div class="col-xs-9">
        <p class="lead"><a href="{{ court.get_absolute_url }}">{{ court.title }}</a></p>
        <p>{{ court.place }}</p>
      </div>
    </div>
    <hr class="m-t-0"/>{% endfor %}
    {% else %}
    <div class="alert alert-dismissable alert-warning">
      <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>По вашему запросу ничего не найдено
    </div>{% endif %}
  </div>
  <script>$(document).ready(function() {
    queryfunc();
});

function queryfunc() {
    var len = $("#searchquery").val().length;
    if (len > 2) {
        $("#searchbutton").attr('disabled', false);
    } else {
        $("#searchbutton").attr('disabled', true);
    }
};

$(document).on('input', '#searchquery', function () {
    queryfunc();
});

$(document).on('click', '#searchbutton', function () {
    var url = "{% url 'courts_view' %}?q=".concat($("#searchquery").val())
    window.location.replace(url);
});


var courts = '{{map_data}}';
courts = courts.replace(/&quot;/g,"\"");
courts = jQuery.parseJSON(courts);

console.log(courts);

$(".testpanel").html(function() {
    return courts[0];
});

ymaps.ready(function () {

    var map = new ymaps.Map("CourtMap", {
        center: [56.834331,60.607307],
        zoom: 11,
        controls: ['zoomControl', 'fullscreenControl']
    });

    for (i = 0; i < courts.length; i++) {
        var court = courts[i]
        var point = [court[3], court[4]];
        var myPlacemark = new ymaps.Placemark(point, {
            balloonContentHeader: court[1],
            balloonContentBody: court[2],
            balloonContentFooter: court[5]
        });
        map.geoObjects.add(myPlacemark);
    }

});
  </script>
</div>{% endblock %}