
{% extends 'base.html' %}
{% load gametags %}
{% load staticfiles %}
{% block title %}Предстоящие игры{% endblock %}
{% block content %}
<h1 class="m-t-0">Игры</h1>
<hr/>
<div class="row">
  <div class="col-md-3">{% if current_user.is_organizer %}<a href="/game/create" class="btn btn-success btn-block">+ создать игру</a><br/>{% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <!--# TODO: autorender select by sports-->
        <p class="lead">Фильтр</p>
        <select id="sporttype" name="query" class="form-control">{% if query %}
          <option value="0">Предстоящие игры</option>{% else %}
          <option value="0" selected="selected">Предстоящие игры</option>{% endif %}
          {% if query == -1 %}
          <option value="-1" selected="selected">Прошедшие игры</option>{% else %}
          <option value="-1">Прошедшие игры</option>{% endif %}
          {% if current_user.is_responsible %}
          {% if query == -2 %}
          <option value="-2" selected="selected">Требующие отчета</option>{% else %}
          <option value="-2">Требующие отчета</option>{% endif %}
          {% endif %}
          {% if current_user %}
          {% if query == -3 %}
          <option value="-3" selected="selected">Мои игры</option>{% else %}
          <option value="-3">Мои игры</option>{% endif %}
          {% endif %}
          {% for sport_type in sport_types %}
          {% if query == sport_type.id %}
          <option value="{{ sport_type.id }}" selected="selected">{{ sport_type.title }}</option>{% else %}
          <option value="{{ sport_type.id }}">{{ sport_type.title }}</option>{% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="panel panel-default hidden-xs hidden-sm">
      <div class="panel-body">
        <p class="lead">Реклама</p><a href="https://vk.com/write17610278"><img src="{% static 'images/ad_bottles_1.png' %}" alt="brand"/></a>
        <hr/><a href="{% url 'contacts_view' %}"><img src="{% static 'images/ad.png' %}" alt="brand"/></a>
      </div>
    </div>
    <div class="panel panel-default hidden-xs">
      <div class="panel-body">
        <p class="lead m-t-0">Расскажи о нас друзьям!</p>
        <div class="social-likes social-likes_notext social-likes-compact">
          <div class="facebook"></div>
          <div class="twitter"></div>
          <div class="vkontakte"></div>
          <div class="odnoklassniki"></div>
        </div>
      </div>
    </div>
    <script async="async" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- Responsive 1st --><ins style="display:block" data-ad-client="ca-pub-7091805805259758" data-ad-slot="9367897227" data-ad-format="auto" class="adsbygoogle"></ins>
    <script type="text/javascript">(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
  <div class="col-md-9">
    {% if games|length > 0 %}
    {% for game in games %}
    {% game_tpl game=game %}
    {% endfor %}
    {% else %}
    <div class="alert alert-dismissable alert-warning">
      <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>По вашему запросу ничего не найдено
    </div>{% endif %}
  </div>
</div>
<script>$(document).on('click', '.action', function (e) {
    var arr = $(this).attr("id").split('-');
    var game_id = arr[0], action = arr[1];

    $(this).parent().parent().parent().find('.btn').attr('disabled', true);

    $('#' + game_id + '-pane').attr('style', 'opacity: 0.7;');

    $.ajax({
        url: '{% url "gameaction" %}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            game_id: game_id,
            action: action
        },
        async: true,
        success: function (responseData, textStatus) {
            if (responseData['error']) {
                alert(responseData['error']['error_description']);
            } else {
                $('#' + game_id + '-pane').fadeOut('slow', function () {
                    $('#' + game_id + '-pane').replaceWith(responseData);
                });
            }
        },
        error: function (response, status, errorThrown) {
            alert('Все плохо, расскажите нам про эту ошибку \n\r\n\r' + response + status + errorThrown);
        },
        type: "POST",
        dataType: "text"
    });
    e.preventDefault();
});

$(document).on('change','#sporttype',function(){
    var value = $('#sporttype').val();
    if (value == '0') {
        location.href='/games';
    }
    else {
        location.href='/games?q='+value;
    }
});
</script>{% endblock %}