
{% extends 'base.html' %}
{% load gametags %}
{% block title %}{{ game.title }}{% endblock %}
{% block headers %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<meta property="og:title" content="Игра в {{ game.sporttype }}"/>
<meta property="og:site_name" content="SportCourts.ru"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ game.get_absolute_url }}"/>
<meta property="og:image" content="{{ game.court.url }}"/>
<meta property="og:description" content="Рекомендую посетить игру {{game.datetime|date:'D, j M, H:i'}} {{ game.gametype }}"/>{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-3 visible-md visible-lg">
    <div class="panel panel-default hidden-xs">
      <div class="panel-body">
        <p class="lead m-t-0">Расскажи о нас друзьям!</p>
        <div class="social-likes social-likes_notext social-likes-compact">
          <div class="facebook"></div>
          <div class="twitter"></div>
          <div class="vkontakte"></div>
          <div class="odnoklassniki"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">{% game_tpl game=game %}<br/>
    <div id="CourtMap" style="width: 100%; height: 600px" class="thumbnail"></div>
    <!--TODO: add VK comments-->
  </div>
</div>
<script>$(document).on('click', '.action', function (e) {
    var arr = $(this).attr("id").split('-');
    var game_id = arr[0], action = arr[1];
    console.log(arr);
    $.ajax({
        url: '{% url "gameaction" %}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            game_id: game_id,
            action: action
        },
        async: true,
        success: function (responseData, textStatus) {
            if (responseData['error']) {
                alert(responseData['error']['error_description']);
            } else {
                $('#' + game_id + '-pane').fadeOut('slow', function () {
                    $('#' + game_id + '-pane').replaceWith(responseData);
                });
            }
        },
        error: function (response, status, errorThrown) {
            alert('Все плохо, расскажите нам про эту ошибку \n\r\n\r' + response + status + errorThrown);
        },
        type: "POST",
        dataType: "text"
    });
    e.preventDefault();
});

$(document).on('change','#sporttype',function(){
    var value = $('#sporttype').val();
    if (value == '0') {
        location.href='/games';
    }
    else {
        location.href='/games?q='+value;
    }
});/**
 * Created by vitaliyharchenko on 04.01.16.
 */
/**
 * Created by vitaliyharchenko on 04.01.16.
 */
ymaps.ready(function () {
    var point = [parseFloat('{{ game.court.place.latitude }}'.replace(",", ".")),
                 parseFloat('{{ game.court.place.longitude }}'.replace(",", "."))];

    var map = new ymaps.Map("CourtMap", {
        center: point,
        zoom: 16,
        controls: ['zoomControl', 'fullscreenControl']
    });

    var myPlacemark = new ymaps.Placemark(point, {
        balloonContentHeader: '{{ game.court.title }}',
        balloonContentBody: '{{ game.court.place.fulladdress }}'
    });

    map.geoObjects.add(myPlacemark);
    myPlacemark.balloon.open();
});
</script>{% endblock %}