
{% extends 'base_fat.html' %}
{% load staticfiles %}
{% load globaltags %}
{% block title %}Будь в игре! {% endblock %}
{% block headers %}
<link href="{% static 'css/particles/index.css' %}" type="text/css" rel="stylesheet"/>
<script src="{% static 'js/index.js' %}"></script>
<meta name="google-site-verification" content="UiLEwcYPzjypS-khlrSkBr31Qr2xp-Qd1l0RVbzZ5Uc"/>
<meta property="og:image" content="{% static 'images/og_logo.png' %}"/>{% endblock %}
{% block content %}
<div class="row bigrow">
  <div class="bigrow-background"><img src="{% static 'images/index/main_1.jpg' %} "/></div>
  <div class="bigrow-content content-white">
    <div class="content-block-first"><img src="{% static 'images/logo_new_big.png' %} " class="logo"/>
      <!--.hidden-xs-->
      <!--  img.logo(src="{% static 'images/logo_big.png' %} ")-->
      <!--.visible-xs-->
      <!--  h1 EasySport--><br/><br/>
      <h2 class="h3">Ваш проводник в мире любительского спорта.</h2>
      <p class="h3">Играй в&nbsp;<span class="gamestyped"></span>&nbsp;<br class="visible-xs"/>вместе с {% random_choice 'нами' 'друзьями' %}!</p></p><br/>
      <div style="max-height:80px; overflow:hidden;" class="row text-center">{% for user in users %}<a href="{{ user.get_absolute_url }}" target="_blank">{% avatar user.avatar height="80" width="80" circle="True" sex=user.sex thumbnail="False" %}</a>{% endfor %}</div><br/><br/>{% if not loggedin %}
      <p><a href="{% url 'reg_view' %}" class="btn btn-main btn-lg btn-success">Зарегистрироваться</a></p>
      <p>или</p>
      <p><a href="#" data-toggle="modal" data-target="#loginModal" role="button" class="btn btn-main btn-lg btn-primary">Войти</a></p>{% else %}
      <p class="h3">Расскажи о нас друзьям!</p><br/>
      <div class="social-likes social-likes_notext social-likes_big">
        <div class="facebook"></div>
        <div class="twitter"></div>
        <div class="vkontakte"></div>
        <div class="odnoklassniki"></div>
      </div>{% endif %}
      <!--TODO: buttons for share or invite friends in service-->
    </div>
  </div>
</div>
<div class="row bigrow">
  <div class="bigrow-content">
    <div class="content-block-second">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center">Хочешь поиграть, но не знаешь где и с кем? Ты нашел то, что искал! От желания до игры за 5 минут!</h2><br/><br/><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-md-3 hidden-xs">
          <div style="float:right;" class="text-left">
            <h3 class="h2">Просто</h3>
            <ul style="margin-left: -24px;" class="promo-ul">
              <li class="promo-li">регистрируйся в системе</li>
              <li class="promo-li">выбирай подходящую игру</li>
              <li class="promo-li">получай удовольствие!</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 hidden-sm"><img src="{% static 'images/index/site_preview.png' %}" style="width:100%;" alt="EasySport - это удобное приложение для любителей спорта."/></div>
        <div class="col-sm-5 col-sm-offset-2 col-md-3 col-md-offset-0 text-left hidden-xs">
          <h3 class="h2">Удобно</h3>
          <ul style="margin-left: -24px;" class="promo-ul">
            <li class="promo-li">пользуйся с любого устройства</li>
            <li class="promo-li">задавай вопросы организаторам</li>
            <li class="promo-li">меняй свои планы одним кликом!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row bigrow">
  <div class="bigrow-background"><img src="{% static 'images/index/main_2.jpg' %}" alt="EasySport решает все острые проблемы в организации любительских игр"/></div>
  <div class="bigrow-content content-white">
    <div class="content-block-third">
      <h3 class="h2">Вы уже играете и вам не хватает игроков? Подключайтесь к нам! Проблем с составом больше не будет.</h3><br class="hidden-xs"/>
      <h3 class="h2 hidden-xs">Мы провели уже более 600 игр!</h3>
    </div>
  </div>
</div>
<div class="row bigrow">
  <div class="bigrow-content">
    <div class="content-block-fourth">
      <div class="row imgrow">
        <div class="col-md-12"><img src="{% static 'images/index/1.png' %}" style="width:100px;"/><img src="{% static 'images/index/2.png' %}" style="width:100px;"/><img src="{% static 'images/index/3.png' %}" style="width:100px;"/><img src="{% static 'images/index/4.png' %}" style="width:100px;"/><img src="{% static 'images/index/5.png' %}" style="width:100px;"/><img src="{% static 'images/index/6.png' %}" style="width:100px;"/><img src="{% static 'images/index/7.png' %}" style="width:100px;"/><img src="{% static 'images/index/8.png' %}" style="width:100px;"/><img src="{% static 'images/index/9.png' %}" style="width:100px;"/></div>
      </div>
      <div class="row">
        <div class="col-md-12"><br/><br/>
          <h3 class="h2">Найди свое место в мире любительского спорта!</h3>
          <p>Пройди весь путь от интереса к игре, через тренировки, поиск команды, участие в турнирах к получению необходимой игровой практики, достижению собственных целей.</p><br/><br/>
        </div>
      </div>
      <div class="row imgrow">
        <div class="col-md-12"><img src="{% static 'images/index/10.png' %}" style="width:100px;"/><img src="{% static 'images/index/11.png' %}" style="width:100px;"/><img src="{% static 'images/index/12.png' %}" style="width:100px;"/><img src="{% static 'images/index/13.png' %}" style="width:100px;"/><img src="{% static 'images/index/14.png' %}" style="width:100px;"/><img src="{% static 'images/index/15.png' %}" style="width:100px;"/><img src="{% static 'images/index/16.png' %}" style="width:100px;"/><img src="{% static 'images/index/17.png' %}" style="width:100px;"/><img src="{% static 'images/index/18.png' %}" style="width:100px;"/></div>
      </div>
    </div>
  </div>
</div>
<div class="row bigrow">
  <div class="bigrow-background"><img src="{% static 'images/index/main_3.jpg' %}" alt="EasySport - это развивающееся спортивное сообщество"/></div>
  <div class="bigrow-content content-white">
    <div class="content-block-fifth">
      <p class="h2">Мы мечтаем построить в России динамичное и здоровое спортивное сообщество</p>
    </div>
  </div>
</div>
<div class="row bigrow">
  <div class="bigrow-content">
    <div class="content-block-sixth">
      <p class="h2">Не можешь играть каждую неделю? Отвлекает семья и работа?</p><br/><img src="{% static 'images/index/main_4.png' %}" alt="" height="300"/><br/>
      <p class="h2">С EasySport это не помеха. Планируй свое время удобным образом!</p>
    </div>
  </div>
</div>
<div class="row bigrow">
  <div class="bigrow-background"><img src="{% static 'images/index/main_5.jpg' %}" alt="EasySport. Будь в игре!"/></div>
  <div class="bigrow-content content-white">
    <div class="content-block-seventh">
      <h1>Будь в игре!</h1><br/><br/>
      <p>{% if not loggedin %}<a href="{% url 'reg_view' %}" class="btn btn-main btn-lg btn-success">Зарегистрироваться</a>{% endif %}</p>
    </div>
  </div>
</div>{% endblock %}