
{% extends 'base.html' %}
{% load staticfiles %}
{% load vkontakte %}
{% block title %}{{ user }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">
    <div class="thumbnail profile-avatar">{% if user.avatar %}
      <div class="avatar-parent"><img src="{{ user.avatar.url }}"/>{% if current %}
        <div class="avatar-edit"><a href="{% url 'user_update' %}">Редактировать</a></div>{% endif %}
      </div>{% else %}
      {% if user.sex = 'f' %}
      <div class="avatar-parent"><img src="{% static 'images/blank_female.jpg' %}"/>{% if current %}
        <div class="avatar-edit"><a href="{% url 'user_update' %}">Редактировать</a></div>{% endif %}
      </div>{% else %}
      <div class="avatar-parent"><img src="{% static 'images/blank_male.jpg' %}"/>{% if current %}
        <div class="avatar-edit"><a href="{% url 'user_update' %}">Редактировать</a></div>{% endif %}
      </div>{% endif %}
      {% endif %}
    </div>{% if not user.is_active %}<a class="btn btn-warning btn-block">Забанен</a>{% endif %}
    {% if current_user.is_admin %}<a href="mailto:{{ user.email }}" class="btn btn-primary btn-block">{{ user.email }}</a>{% endif %}
  </div>
  <div class="col-md-8 col-sm-8 col-xs-8">
    <h1 class="m-t-0">{{ user }}<small>&nbsp;&nbsp;&nbsp;<br class="visible-xs"/>{% if user.is_admin %}<span id="badge1" data-toggle="tooltip" data-placement="bottom" title="Администратор" class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;
        {% endif %}
        {% if user.is_organizer %}<span id="badge2" data-toggle="tooltip" data-placement="bottom" title="Организатор" class="glyphicon glyphicon-star"></span>&nbsp;
        {% endif %}
        {% if user.is_responsible %}<span id="badge3" data-toggle="tooltip" data-placement="bottom" title="Ответственный" class="glyphicon glyphicon-star-empty"></span>&nbsp;
        {% endif %}
        {% if user.is_referee %}<span id="badge3" data-toggle="tooltip" data-placement="bottom" title="Судья" class="glyphicon glyphicon-king"></span>&nbsp;
        {% endif %}</small></h1>
    <p>{% if not current %}<small>Последний раз заходил{% ifequal user.sex 'f' %}a{% endifequal %}: {{ user.last_login }}</small>{% endif %}</p><br/>
    <p>{% if user.bdate %}{{ user.beautiful_age }}{% endif %}{% if user.city and user.bdate %}, {% endif %}{% if user.city %}{{ user.city }}{% endif %}</p>{% if user.height > 0 %}<br/>
    <p>Рост: {{ user.height }} см.</p>{% elif current %}
    <p>Рост:<small>&nbsp;<a href="{% url 'user_update' %}">Заполнить...</a></small></p>{% endif %}
    {% if user.weight > 0 %}
    <p>Вес: {{ user.weight }} кг.</p>{% elif current %}
    <p>Вес:<small>&nbsp;<a href="{% url 'user_update' %}">Заполнить...</a></small></p>{% endif %}
    {% if user.phone %}<br/>
    <p>Телефон: {{ user.get_beautiful_phone }}</p>{% else %}<br/>
    <p>Телефон не указан</p>{% endif %}
    {% if user.vkuserid %}
    <p><a href="{% vkontakte_profile_link user.vkuserid %}" target="_blank"><img src="{% static 'images/vk.png' %}" width="32"/></a></p>{% elif current %}
    {% url 'setvkid' as setvkid_url %}
    <p><a href="{% vkontakte_auth_link setvkid_url %}" target="_blank">+ связать свой аккаунт с вконтакте</a></p>{% endif %}
    {% if user.ampluas.count > 0 %}<br/>{% for amplua in user.ampluas.all %}
    <p>{{ amplua }}</p>{% endfor %}
    {% endif %}
  </div>
</div>{% endblock %}