
{% extends 'base.html' %}
{% load gametags %}
{% load bootstrap %}
{% block title %}{{ game.title }}{% endblock %}
{% block headers %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12">
                <p class="lead"><a href="{% url 'game_view' game.pk %}">Отчет по игре №{{ game.pk }}</a>{% if game.is_reported %}
                  &nbsp;Отправлен
                  {% else %}
                  &nbsp;Ждет отправки
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <p>Ответственный:&nbsp;<a href="{{ game.responsible_user.get_absolute_url }}">{{ game.responsible_user }}</a></p>
                <p>Тип игры: {{ game.gametype }}</p>
                <p>Площадка:&nbsp;<a href="{{ game.court.get_absolute_url }}">{{ game.court }}</a></p>
              </div>
              <div class="col-xs-6">
                <p>{{ game.datetime }}</p>
                <p>Продолжительность: {{ game.duration }}</p>
                <p>Цена: {{ game.cost }} RUB</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <hr/>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">{% if game.is_reported %}
                <div class="table-responsive">
                  <table class="table table-hover table-bordered table-condensed">
                    <tbody>
                      <tr class="success">
                        <td>№</td>
                        <td>Имя</td>
                        <td>Фамилия</td>
                        <td>Телефон</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="6" class="text-center">Посетившие</td>
                      </tr>{% for user in game.visited %}
                      <tr>
                        <td>{{ user.pk }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.phone }}</td>
                        <td></td>
                      </tr>{% endfor %}
                      <tr class="warning">
                        <td colspan="6" class="text-center">Прогульщики</td>
                      </tr>{% for user in game.notvisited %}
                      <tr class="warning">
                        <td>{{ user.pk }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.phone }}</td>
                        <td></td>
                      </tr>{% endfor %}
                      <tr>
                        <td colspan="6" class="text-center">Неплательщики</td>
                      </tr>{% for user in game.notpay %}
                      <tr class="danger">
                        <td>{{ user.pk }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.phone }}</td>
                        <td></td>
                      </tr>{% endfor %}
                    </tbody>
                  </table>
                </div>{% else %}
                <form method="post" action="{% url 'game_report_view' game.id %}">{% csrf_token %}
                  <table id="formset" class="table table-hover table-bordered table-condensed">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {% if forloop.first %}
                    <thead>
                      <tr class="success">
                        <th>№</th>{% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>{% endfor %}
                      </tr>
                    </thead>{% endif %}
                    <tr>
                      <td>{{ forloop.counter }}</td>{% for field in form.visible_fields %}
                      <td>
                        {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                         {{ hidden }}
                        {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                      </td>{% endfor %}
                    </tr>{% endfor %}
                  </table>
                  <button type="submit" class="btn btn-primary btn-block">Отправить отчет</button>
                </form>{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>/**
 * Created by vitaliyharchenko on 25.12.15.
 */
var User = {
    constructor: function(first_name, last_name, phone, status) {
        this.first_name = first_name;
        this.last_name = last_name;
        this.phone = phone;
        this.status = status;
    }
}

$(function(){
    var users = [];

    var subscribed_string = '{{users}}'.replace(/&quot;/g,"\"");
    var subscribed_users = jQuery.parseJSON(subscribed_string);


    for(var i=0; i<subscribed_users.length; i++) {
        var pk = subscribed_users[i]['pk'];
        var fields = subscribed_users[i]['fields'];
        fields['id'] = pk;
        users[pk] = fields;
    };

    console.log(users);

    var table = '';

    table += '<table>';

    users.forEach(function(item, i, users){
        table += '<td>';
        table += '<tr>' + item['first_name'] + '</tr>';
        table += '<tr>' + item['last_name'] + '</tr>';
        table += '</td>';
    });
    table += '</table>';

    console.log(table);
    $(".userspane").html(function() {
        return table;
    });
});
</script>{% endblock %}