
{% extends 'base.html' %}
{% load staticfiles %}
{% load globaltags %}
{% block title %}Игроки{% endblock %}
{% block headers %}
<link href="{% static 'css/particles/profile.css' %}" type="text/css" rel="stylesheet"/>{% endblock %}
{% block content %}
<h1 class="m-t-0">Игроки</h1>
<hr/>
<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="lead">Поиск</p>
        <input id="searchquery" type="text" name="query" placeholder="Поиск по имени" value="{{ query }}" class="form-control"/><br/><a id="searchbutton" href="#" disabled="disabled" class="btn btn-primary btn-block">Найти</a>
      </div>
    </div>
    <div class="panel panel-default hidden-xs">
      <div class="panel-body">
        <p class="lead">Расскажи о нас друзьям!</p>
        <div class="social-likes social-likes_notext social-likes-compact">
          <div class="facebook"></div>
          <div class="twitter"></div>
          <div class="vkontakte"></div>
          <div class="odnoklassniki"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    {% if users|length > 0 %}
    {% for user in users %}
    <div class="row">
      <div class="col-xs-3">
        <div class="thumbnail profile-avatar">{% if user.avatar %}
          <div class="avatar-parent"><img src="{{ user.avatar.url }}"/></div>{% elif user.sex == 'f' %}
          <div class="avatar-parent"><img src="{% static 'images/blank_female.jpg' %}"/></div>{% else %}
          <div class="avatar-parent"><img src="{% static 'images/blank_male.jpg' %}"/></div>{% endif %}
        </div>
      </div>
      <div class="col-xs-9">
        <p class="lead"><a href="{{ user.get_absolute_url }}">{{ user }}</a></p>
        <p>{% if user.bdate %}{{ user.beautiful_age }}{% endif %}{% if user.city and user.bdate %}, {% endif %}{% if user.city %}{{ user.city }}{% endif %}</p>{% if user.amplua %}
        <p>{{ user.amplua }}</p>{% endif %}
      </div>
    </div>
    <hr class="m-t-0"/>{% endfor %}
    {% else %}
    <div class="alert alert-dismissable alert-warning">
      <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>По вашему запросу ничего не найдено
    </div>{% endif %}
  </div>
</div>
<script>$(document).ready(function() {
    queryfunc();
});

function queryfunc() {
    var len = $("#searchquery").val().length;
    if (len > 2) {
        $("#searchbutton").attr('disabled', false);
    } else {
        $("#searchbutton").attr('disabled', true);
    }
};

$(document).on('input', '#searchquery', function () {
    queryfunc();
});

$(document).on('click', '#searchbutton', function () {
    var url = "{% url 'users_view' %}?q=".concat($("#searchquery").val())
    window.location.replace(url);
});
</script>{% endblock %}