doctype html
html(lang="en")
  head
    title Ошибка
  body
    h1 Ошибка
    br
    | Мы ничего не нашли по запрошенному адресу
    p.lead
      |Если это серьезная ошибка,&nbsp;
      a(href="https://vk.com/write17610278" target="_blank") сообщите
      |&nbsp;про нее нам
| {% endblock %}