| {% extends 'base.html' %}
| {% block title %}Наши контакты{% endblock %}
| {% block content %}
.jumbotron
  h1.text-center Контакты
  adress
    br
    p
      strong По вопросам сотрудничества и вопросам к работе сервиса
    p
      a(href="mailto:easysportekb@gmail.com") easysportekb@gmail.com
    p
      a(href="#") +7 (982) 646 94 54
    p
      a(target="_blank" href="https://vk.com/write17610278") ВКонтакте
    br
    br
    p
      strong Хотите работать с нами?
    p Вы любите спорт и хотите вдохновлять других вести здоровый образ жизни?
    p Мы ищем активных энтузиастов в разных дисциплинах, в городах по всей России.
    p Мы поддержим Вас в организации спортивных мероприятий и поможем сформировать сообщество активных и здоровых людей.
    p
      | Свои резюме, предложения и истории присылайте&nbsp;
      a(href="mailto:easysportekb@gmail.com") сюда
| {% endblock %}