| {% extends 'base.html' %}
| {% load globaltags %}
| {% block title %}Спортивные площадки{% endblock %}
| {% block content %}
h1.m-t-0 Площадки
hr
.row
  .col-md-3.visible-md.visible-lg
    |{% if current_user.is_admin %}
    a.btn.btn-success.btn-block(href="/admin/courts/court/add/") + создать площадку
    br
    |{% endif %}
    .panel.panel-default
      .panel-body
        p.lead Поиск
        input#searchquery.form-control(type="text" name="query" placeholder="Поиск по названию" value="{{ query }}")
        br
        a#searchbutton.btn.btn-primary.btn-block(href="#" disabled) Найти
        |{% if query %}
        a.btn.btn-primary.btn-block(href="{% url 'courts_view' %}") Сброс
        |{% endif %}
    .panel.panel-default.hidden-xs
      .panel-body
        p.lead.m-t-0 Расскажи о нас друзьям!
        .social-likes.social-likes_notext.social-likes-compact
          .facebook
          .twitter
          .vkontakte
          .odnoklassniki
  .col-md-9
    |{% if courts|length > 0 %}
    | {% for court in courts %}
    .row
      .col-xs-3
        .thumbnail.profile-avatar
          |{% image court.photo %}
      .col-xs-9
        p.lead
          a(href="{{ court.get_absolute_url }}") {{ court.title }}
        |{% if court.description %}
        p {{ court.description }}
        |{% endif %}
        p {{ court.place }}
    hr.m-t-0
    | {% endfor %}
    |{% else %}
    .alert.alert-dismissable.alert-warning
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;
      | По вашему запросу ничего не найдено
    |{% endif %}
  script
    include ../js/courts.js
| {% endblock %}