| {% extends 'base.html' %}
| {% block title %}Спортивные события{% endblock %}
| {% block content %}
h1.m-t-0 События
hr
.row
  .col-md-9
    | {% for event in events %}
    | Event
    | {% endfor %}
  .col-md-3.visible-md.visible-lg
    p.lead.m-t-0 Расскажи о нас друзьям!
    .social-likes.social-likes_notext.social-likes-compact
      .facebook
      .twitter
      .vkontakte
      .odnoklassniki
| {% endblock %}