| {% extends 'base.html' %}
| {% load gametags %}
| {% block title %}Предстоящие игры{% endblock %}
| {% block content %}
h1.m-t-0 Игры
hr
.row
  .col-md-3
    |{% if current_user.is_organizer %}
    a.btn.btn-success.btn-block(href="/admin/games/game/add/") + создать игру
    br
    |{% endif %}
    .panel.panel-default
      .panel-body
        //# TODO: autorender select by sports
        p.lead Фильтр
        select#sporttype.form-control(name="query")
          | {% if query %}
          option(value="0") Предстоящие игры
          | {% else %}
          option(value="0" selected) Предстоящие игры
          | {% endif %}

          | {% if query == -1 %}
          option(value="-1" selected) Прошедшие игры
          | {% else %}
          option(value="-1") Прошедшие игры
          | {% endif %}

          |{% if current_user.is_responsible %}
          | {% if query == -2 %}
          option(value="-2" selected) Требующие отчета
          | {% else %}
          option(value="-2") Требующие отчета
          | {% endif %}
          |{% endif %}

          | {% for sport_type in sport_types %}
          | {% if query == sport_type.id %}
          option(value="{{ sport_type.id }}" selected) {{ sport_type.title }}
          | {% else %}
          option(value="{{ sport_type.id }}") {{ sport_type.title }}
          | {% endif %}
          | {% endfor %}
    .panel.panel-default.hidden-xs
      .panel-body
        p.lead.m-t-0 Расскажи о нас друзьям!
        .social-likes.social-likes_notext.social-likes-compact
          .facebook
          .twitter
          .vkontakte
          .odnoklassniki
  .col-md-9
    |{% if games|length > 0 %}
    | {% for game in games %}
    | {% game_tpl game=game %}
    | {% endfor %}
    |{% else %}
    .alert.alert-dismissable.alert-warning
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;
      | По вашему запросу ничего не найдено
    |{% endif %}
script
  include ../../src/js/games.js
| {% endblock %}