| {% extends 'base.html' %}
| {% load gametags %}
| {% block title %}{{ game.title }}{% endblock %}
| {% block headers %}{% endblock %}
| {% block content %}
.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            .row
              .col-xs-12
                p.lead
                  a(href="{% url 'game_view' game.pk %}") Игра №{{ game.pk }}
            .row
              .col-xs-6
                p
                  |Ответственный:&nbsp;
                  a(href="{{ game.responsible_user.get_absolute_url }}") {{ game.responsible_user }}
                p Тип игры: {{ game.gametype }}
                p
                  |Площадка:&nbsp;
                  a(href="{{ game.court.get_absolute_url }}") {{ game.court }}
              .col-xs-6
                p {{ game.datetime }}
                p Продолжительность: {{ game.duration }}
                p Цена: {{ game.cost }} RUB
            .row
              .col-xs-12
                a.btn.btn-lg.btn-success(href="") Разослать приглашения на почту
                br
                br
            .row
              .col-xs-12
                .table-responsive
                  table.table.table-hover.table-bordered.table-condensed
                    tbody
                      tr.success
                        td №
                        td Имя
                        td Фамилия
                        td Телефон
                        td Email
                        td ВКонтакте
                      |{% for user in old_users %}
                      tr
                        td {{ user.pk }}
                        td {{ user.first_name }}
                        td {{ user.last_name }}
                        td {{ user.phone }}
                        td
                          a(href="mailto:{{ user.email }}") {{ user.email }}
                        td
                          |{% if user.vkuserid %}
                          a(href="http://vk.com/write{{ user.vkuserid }}" target="_blank") Написать
                          |{% else %}
                          |-
                          |{% endif %}
                      |{% endfor %}
| {% endblock %}