| {% extends 'base.html' %}
|{% load bootstrap %}
| {% block title %}Регистрация {% endblock %}
|{% block headers %}
|{{ form.media }}
|{% endblock %}
| {% block content %}
.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        .row
          .col-xs-12.text-center
            h2 Регистрация
      .panel-body
        .row
          .col-xs-12
            | {% if messages %}
            | {% for message in messages %}
            .alert.alert-dismissible.fade.in(role="alert" class="alert-{{ message.tags }}")
              button.close(type="button" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") ×
              strong Упс!
              | &nbsp;{{ message }}
            script(type="text/javascript")
              | setInterval(function(){$(".alert").alert('close')}, 3000);
            | {% endfor %}
            | {% endif %}
          .col-xs-12
            form(method="post")
              | {% csrf_token %}
              | {{ form|bootstrap }}
              button.btn.btn-primary.btn-block(type="submit") Зарегистрироваться
| {% endblock %}