| {% extends 'base.html' %}
| {% block title %}Наши контакты{% endblock %}
| {% block content %}
.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        .row
          .col-xs-12.text-center
            h2 Сброс пароля
      .panel-body
        .row
          .col-xs-12
            | {% if messages %}
            | {% for message in messages %}
            .alert.alert-dismissible.fade.in(role="alert" class="alert-{{ message.tags }}")
              button.close(type="button" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") ×
              strong Ура!
              | &nbsp;{{ message }}
            script(type="text/javascript")
              | setInterval(function(){$(".alert").alert('close')}, 30000);
            | {% endfor %}
            | {% endif %}
          .col-xs-12
            form(method="post")
              | {% csrf_token %}
              p.lead Пожалуйста, введите ваш email чтобы получить инструкции по восстановлению пароля.
              .form-group
                label.sr-only Email
                input.form-control(type="email" name="email" placeholder="Email")
              button.btn.btn-default(type="submit") Получить письмо
| {% endblock %}