| {% extends 'base.html' %}
| {% load bootstrap %}
| {% block title %}Редактирование профиля{% endblock %}
| {% block headers %}
| {{ form.media }}
| {% endblock %}
| {% block content %}
h1.m-t-0 Настройки
hr
.row
  .col-md-6
    .panel.panel-default
      .panel-body
        h3 Редактирование профиля
        br
        | {% if messages %}
        | {% for message in messages %}
        | {% if message.extra_tags == 'info' %}
        .alert.alert-dismissible(class="{% if message.tags == 'info success' %}alert-success{% else %}alert-warning{% endif %}")
          button.close(href="#" data-dismiss="alert" aria-label="close") &times;
          | {{ message }}
        | {% endif %}
        | {% endfor %}
        | {% endif %}
        form(method="post" action="{% url 'user_update_view' %}" enctype='multipart/form-data')
          | {% csrf_token %}
          | {{ form|bootstrap }}
          button.btn.btn-primary(type="submit" name="saveinfo") Сохранить
  .col-md-6
| {% endblock %}