| {% extends 'base.html' %}
| {% load bootstrap %}
| {% load staticfiles %}
| {% load globaltags %}
| {% block title %}Редактирование профиля{% endblock %}
| {% block headers %}
| {{ form.media }}
| {% endblock %}
| {% block content %}
h1.m-t-0 Настройки
hr
.row
  .col-md-6
    .panel.panel-default
      .panel-body
        h3 Редактирование профиля
        br
        | {% if messages %}
        | {% for message in messages %}
        | {% if message.extra_tags == 'info' %}
        .alert.alert-dismissible(class="{% if message.tags == 'info success' %}alert-success{% else %}alert-warning{% endif %}")
          button.close(href="#" data-dismiss="alert" aria-label="close") &times;
          | {{ message }}
        | {% endif %}
        | {% endfor %}
        | {% endif %}
        form(method="post" action="{% url 'user_update_view' %}" enctype='multipart/form-data')
          | {% csrf_token %}
          | {{ form|bootstrap }}
          button.btn.btn-primary(type="submit" name="saveinfo") Сохранить
  .col-md-6
    .panel.panel-default
      .panel-body
        h3 Интеграция с соцсетями
        br
        | {% if messages %}
        | {% for message in messages %}
        | {% if message.extra_tags == 'integration' %}
        .alert.alert-dismissible(class="{% if message.tags == 'changepass success' %}alert-success{% else %}alert-warning{% endif %}")
          button.close(href="#" data-dismiss="alert" aria-label="close") &times;
          |{{ message }}
        | {% endif %}
        | {% endfor %}
        | {% endif %}
        | {% if current_user.vkuserid %}
        p
          a(href="{% vkontakte_profile_link user.vkuserid %}" target="_blank")
            img(src="{% static 'images/vk.png' %}" width="32")
          |&nbsp;&nbsp;
          a(href="{% url 'unsetvkid' %}") Открепить профиль
        | {% else %}
        | {% url 'user_update_view' as update_url %}
        p
          a(href="{% vkontakte_auth_link update_url %}") + связать свой аккаунт с вконтакте
        | {% endif %}
    .panel.panel-default
      .panel-body
        h3 Сменить пароль
        br

        | {% if messages %}
        | {% for message in messages %}
        | {% if message.extra_tags == 'changepass' %}
        .alert.alert-dismissible(class="{% if message.tags == 'changepass success' %}alert-success{% else %}alert-warning{% endif %}")
          button.close(href="#" data-dismiss="alert" aria-label="close") &times;
          |{{ message }}
        | {% endif %}
        | {% endfor %}
        | {% endif %}

        form(method="post" action="{% url 'changepass' %}" enctype='multipart/form-data')
          |{% csrf_token %}
          |{{ pass_form|bootstrap }}
          br
          button.btn.btn-warning(type="submit" name="changepass") Изменить пароль
| {% endblock %}