| {% extends 'base.html' %}
| {% load staticfiles %}
| {% load globaltags %}
| {% block title %}{{ user }}{% endblock %}
|{% block headers %}
link(href="{% static 'css/particles/profile.css' %}" type="text/css" rel="stylesheet")
|{% endblock %}
| {% block content %}
.row
  .col-md-4.col-sm-4.col-xs-4
    .thumbnail.profile-avatar
      .avatar-parent
        |{% avatar user.avatar sex=user.sex %}
        | {% if current %}
        .avatar-edit
          a(href="{% url 'user_update_view' %}") Редактировать
        | {% endif %}
    | {% if not user.is_active %}
    a.btn.btn-warning.btn-block Профиль не активирован
    | {% endif %}
    | {% if current_user.is_admin %}
    a.btn.btn-primary.btn-block(href="mailto:{{ user.email }}") {{ user.email }}
    | {% endif %}

    | {% if user.gamesvisited %}
    br
    .well.well-sm.text-center
      span.glyphicon.glyphicon-stats
      |&nbsp;Игр посещено: {{ user.gamesvisited|length }}
    | {% endif %}

    | {% if user.gamesnotvisited %}
    br
    .well.well-sm.text-center.text-danger
      span.glyphicon.glyphicon-stats
      |&nbsp;Игр пропущено: {{ user.gamesnotvisited|length }}
    | {% endif %}

    | {% if user.gamesnotpay %}
    br
    .well.well-sm.text-center.text-danger
      span.glyphicon.glyphicon-stats
      |&nbsp;Игр не оплачено: {{ user.gamesnotpay|length }}
    | {% endif %}
  .col-md-8.col-sm-8.col-xs-8
    h1.m-t-0
      | {{ user }}
      small
        | &nbsp;&nbsp;&nbsp;
        br.visible-xs
        | {% if user.is_admin %}
        span#badge1.glyphicon.glyphicon-exclamation-sign(data-toggle="tooltip" data-placement="bottom" title="Администратор")
        | &nbsp;
        | {% endif %}
        | {% if user.is_organizer %}
        span#badge2.glyphicon.glyphicon-star(data-toggle="tooltip" data-placement="bottom" title="Организатор")
        | &nbsp;
        | {% endif %}
        | {% if user.is_responsible %}
        span#badge3.glyphicon.glyphicon-star-empty(data-toggle="tooltip" data-placement="bottom" title="Ответственный")
        | &nbsp;
        | {% endif %}
        | {% if user.is_referee %}
        span#badge3.glyphicon.glyphicon-king(data-toggle="tooltip" data-placement="bottom" title="Судья")
        | &nbsp;
        | {% endif %}
    p
      | {% if not current %}
      small Последний раз заходил{% ifequal user.sex 'f' %}a{% endifequal %}: {{ user.last_login }}
      | {% endif %}
    br
    p
      | {% if user.bdate %}{{ user.age|beauty_age }}{% endif %}{% if user.city and user.bdate %}, {% endif %}{% if user.city %}{{ user.city }}{% endif %}
    | {% if user.height > 0 %}
    br
    p Рост: {{ user.height }} см.
    | {% elif current %}
    p
      | Рост:
      small
        | &nbsp;
        a(href="{% url 'user_update_view' %}") Заполнить...
    | {% endif %}
    | {% if user.weight > 0 and current %}
    p Вес: {{ user.weight }} кг.
    | {% elif current %}
    p
      | Вес:
      small
        | &nbsp;
        a(href="{% url 'user_update_view' %}") Заполнить...
    | {% endif %}
    | {% if user.amplua %}
    p {{ user.amplua }}
    | {% endif %}
    | {% if user.phone %}
    br
    p Телефон: {{ user.phone|beauty_phone }}
    | {% else %}
    br
    p Телефон не указан
    | {% endif %}
    | {% if user.vkuserid %}
    p
      a(href="{% vkontakte_profile_link user.vkuserid %}" target="_blank")
        img(src="{% static 'images/vk.png' %}" width="32")
    | {% endif %}

    | {% if user.gamesvisited %}
    hr
    p Последние посещенные игры:
    table.table.table-hover.table-bordered
      tr.active
        td № игры
        td Дата
        td Название
        td Тип игры
        td Площадка
        td Время на площадке
      |{% for game in user.gamesvisited %}
      tr
        td
          a(href="{% url 'game_view' game.pk %}" target="_blank") # {{ game.pk }}
        td {{ game.datetime }}
        td {{ game.title }}
        td {{ game.gametype }}
        td
          a(href="{% url 'court_view' game.court.pk %}" target="_blank") {{ game.court.title }}
        td {{ game.duration_beauty }}
      |{% endfor %}
    | {% endif %}
| {% endblock %}